@section styles {
    @Styles.Render("~/Content/materialize.min.css")
    @Styles.Render("https://fonts.googleapis.com/icon?family=Material+Icons")
}

<div class="row">
    <div class="col s6">
        <div class="jumbotron">
            <h1>Company account</h1>
            <p>I am a company looking to hire employees for my projects.</p>
            <p><a class="btn btn-primary btn-lg" href="~/account/company" role="button">Register company.</a></p>
        </div>
    </div>
    <div class="col s6">
        <div class="jumbotron">
            <h1>Employee account</h1>
            <p>I am an employee looking for projects to work on.</p>
            <p><a class="btn btn-primary btn-lg" href="~/account/employee" role="button">Register employee.</a></p>
        </div>
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
