@model IEnumerable<LionJobs.ViewModels.JobHistoryViewModel>
<div class="row">
    <div class="col-md-5">
        @if(!Model.Any())
        {
            <h5>No job history!</h5>
        }
        <ul class="list-group">
            @foreach (var item in Model)
            {
                <li class="list-group-item">
                    <span>@item.CompanyName</span>
                    <span class="pull-right"> @item.Title</span>
                </li>
            }
        </ul>
    </div>
</div>


