@{
    ViewBag.Title = "Home Page";
}

<div id="index-banner" class="parallax-container">
    <div class="section no-pad-bot">
        <div class="container">
            <br><br>
            <h1 class="header center orange-text text-darken-4">Lion Jobs</h1>
            <div class="row center">
                <h5 class="header col s12 white-text">The best website for finding your dream job.</h5>
            </div>
            <div class="row center">
                <a href="~/account/register" id="download-button" class="btn-large waves-effect waves-light teal lighten-1">Get Started</a>
            </div>
            <br><br>
        </div>
    </div>
    <div class="parallax"><img src="http://bsnscb.com/data/out/45/39546206-corporate-wallpapers.png" alt="Unsplashed background img 1" style="display: block; transform: translate3d(-50%, 320px, 0px);"></div>
</div>
<div class="container">
    <div class="section">
        <!--   Icon Section   -->
        <div class="row">
            <div class="col s12 m4">
                <div class="icon-block">
                    <h2 class="center brown-text"><i class="material-icons">flash_on</i></h2>
                    <h5 class="center">Speeds up development</h5>
                    <p class="light">You can browse through different job offers and apply for anyone you like.All job applications you make will be directly send to the companies along with your information.</p>
                </div>
            </div>
            <div class="col s12 m4">
                <div class="icon-block">
                    <h2 class="center brown-text"><i class="material-icons">group</i></h2>
                    <h5 class="center">User Experience Focused</h5>
                    <p class="light">Once you register you will be able to edit your profile and set up a Cv which will be viewed to all comapnies you applied for!If you set up a company accout you will be able to post job offers.</p>
                </div>
            </div>
            <div class="col s12 m4">
                <div class="icon-block">
                    <h2 class="center brown-text"><i class="material-icons">settings</i></h2>
                    <h5 class="center">Easy to work with</h5>
                    <p class="light">If you are a company in need of employees this is the place for you!You can post as much job offers as you like and be able to choose between all applied candidates!</p>
                </div>
            </div>
        </div>
    </div>
</div>